.ProfileList {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 30px;
    height: 60px;
}

.ProfileList .send a:hover{
    background-color: #f5f5f5;
    border-radius: 20px;
}
.ProfileList .box{
    width: 30px;
    height: 30px;
}
.ProfileList .send a{
    padding: 10px;
}

.ProfileList .box img{
    width: 30px; height: 30px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.ProfileList .namebox {
    width:100px;
}

.AddFriend {
    padding: 10px;
}

.AddFriend p {
    margin-top: 5px;
    font-size: 30px;
    padding: 15px;
}

.AddFriend .input-field {
    margin-top: 15px;
    width: 80%;
    margin-left: 11%;
}

.AddFriend .search-box {
    margin-bottom: 15px;
    width: 92.5%;
    height: 250px;
    margin-left: 4%;
    overflow-y: auto;
    /* border: solid 1px;
    border-radius: 10px;
    border-color: #aaaaaa; */
}

.AddFriend #close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.AddFriend #close i {
    font-size : 30px;
}

.AddFriend #noresult{
    margin-top: 20px;
}
