.AddMember {
    padding: 10px;
    
}

.AddMember .button-box {
    margin-top: 5px;
}

.AddMember .input-field {
    margin-top: 50px;
    width: 300px;
    margin-left: 11%;
}


.AddMember .search-box {
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: rgb(243, 243, 243);
    width: 350px;
    height: 250px;
    margin-left: 4%;
}