.AddMember {
    padding: 10px;
    
}

.AddMember .member-box {
    margin-top: 10px;
    margin-left: 4%;
    background-color: rgb(243, 243, 243);
    width: 92.5%;
    height: 50px;
    overflow: auto;
}
.AddMember .button-box {
    margin-top: 5px;
}

.AddMember .input-field {
    margin-top: 15px;
    width: 80%;
    margin-left: 11%;
}


.AddMember .search-box {
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: rgb(243, 243, 243);
    width: 92.5%;
    height: 250px;
    margin-left: 4%;
    overflow: auto;
}