.MainView {
    padding: 20px;
    width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
    height: 88%;
    overflow-y: auto;
}

.MainView .material-icons{
    font-size: 80px;
    color: #636363;
}

.MainView .group-box {
    background-color: white;
    margin-top: 5px;
    margin-left: 23px;
    border: solid 2px rgb(223, 223, 223);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    line-height: 150px;
    text-align: center;
    padding: 0;
}

.MainView b {
    margin-left: 65px;
}

.MainView .group-box img {
    width: 150px; height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.MainView .groups {
    display:flex;
    flex-wrap: wrap;
}

.MainView .Group {
    text-align: center;
}
.MainView .name {
    margin-left: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.MainView .Group i {
    color: rgb(73, 73, 73);
}
@media screen and (max-width: 1200px) {
    .MainView {
        width: 90%;
    }   
}

@media screen and (max-height: 800px) {
    .MainView {
        height: 85%;
    }   
}

@media screen and (max-width: 414px) {
    .MainView {
        height: 87%;
        width: 100%;
    }   
}