.Notifications {
    width: 450px;
    position: absolute;
    right: 14%;
    background-color: #fefefe;
    font-size: 20px;
    font-weight: 200px;
    z-index: 3;
}

.Notifications .NoticeList {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.Notifications .box{
    width: 30px;
    height: 52px;
}
.Notifications .box img{
    width: 30px; height: 30px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.Notifications .namebox {
    margin-left: 15px;
    font-size: 15px;
}

/* .Notifications:after{
    border-top: 0 solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #eeeeee;
    content: "";
    position: absolute;
    top:-15px;
    left:223px;
} */

.Notifications a{
    display:block;
    width: 450px;
    height: 70px;
    line-height: 65px;
    color: #656565;

}

.Notifications a:hover {
    background-color: #f1f1f1;
}

.Notifications #empty {
    height: 100px;
    line-height: 100px;
    text-align: center;
    /* margin-left: 30px; */
}
@media screen and (max-width: 1600px) {
    .Notifications{
        right: 12%;
    }
}
@media screen and (max-width: 1500px) {
    .Notifications{
        right: 10%;
    }
}
@media screen and (max-width: 1400px) {
    .Notifications{
        right: 8%;
    }
}
@media screen and (max-width: 1300px) {
    .Notifications{
        right: 5%;
    }
}
@media screen and (max-width: 1200px) {
    .Notifications{
        right: 20px;
    }
}
@media screen and (max-width: 414px) {
    .Notifications{
        width: 200px;
   }
    .Notifications a{
        width: 200px;
   }
}